<LINK REL=StyleSheet HREF="/css/index.css" TYPE="text/css" MEDIA=screen>
<form action="/" method="post">
    <div id="movs">
        <div id="imagen">
            <img src="/img/Digital_Waiter.png">
        </div>
        <div id="inicio">
            <h2>
                ¡¡ Tener todo en orden significa <br> tener todo bajo control !!
            </h2>
        </div>
        <div id="validacion">
            <input type="text" name="validar" id="validar" required>
        </div>
        <div id="btValidacion">
            <div id="boton">
                <button type="submit">Continuar</button>
            </div>
        </div>
    </div>
</form>