<link rel="stylesheet" href="/css/navegacion.css">
{{#if user}}
<div id="menu">
 <button type="button" onclick="menus.aparicion()"><img src="/img/iconos/abajo.png" alt=""></button> 
</div>
<div id="abajo">
  <button type="button" onclick="menus.botonMenu()"><img src="/img/iconos/menu.png" alt=""></button>
</div>
<nav id="nav">
  <div id="boton">
    <div id="nav1">
      <a href="/clientes/lista/{{user.idUsuarios}}"> <button type="button">Clientes</button></a>
    </div>
  </div>
  <div id="boton">
    <div id="nav2">
      <a href="/ProductoEntrada/lista/{{user.idUsuarios}}"> <button type="button">Inventario</button> </a>
    </div>
  </div>
  <div id="boton">
    <div id="nav3">
      <a href="/proveedor/lista/{{user.idUsuarios}}"> <button type="button">Proveedores</button> </a>
    </div>
  </div>
  <div id="boton">
    <div id="nav4">
      <a href="/tienda/lista/{{user.idUsuarios}}"> <button type="button">Tienda</button></a>
    </div>
  </div>
  <div id="boton">
    <div id="nav5">
      <a href="/CerrarSecion"> <button type="button">Cierre la Sesión</button></a>
    </div>
  </div>
</nav>
{{/if}}
<script src="/js/navegacion.js"></script>